# Heroes of Pymoli

Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

## Observable Trends

1. Males make up the majority of players. However, a male player, on average, will spend less than a female or other/non-discloded gender player.

2. A player aged 35-39 will spend more, on average, than a player in any other age range. However, the 35-39 age range only has the fourth most players.

3. The five most profitable items range in price from \\$4.23 to \\$4.90.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df_purchase_data = pd.DataFrame(pd.read_csv(file_to_load))


# create function to format numbers as currency
def format_as_dollars(series):
    return series.map("${:,.2f}".format)

## Player Count

* Display the total number of players

In [2]:
# count the total number of unqiue player screen names and print
player_count = len(df_purchase_data['SN'].value_counts())

print(f'Total number of players: {player_count}')

Total number of players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# count the number of unique items
item_count = df_purchase_data['Item ID'].value_counts().count()

# count the number of purchases:
purchase_count = df_purchase_data['Purchase ID'].count()

# sum price to get total revenue
revenue_total = df_purchase_data['Price'].sum()

# format total revenue as currency
revenue_total = "${:,.2f}".format(revenue_total)

# calculate average price of all transactions
price_avg = df_purchase_data['Price'].mean()

# format average price as currency
price_avg = "${:,.2f}".format(price_avg)

# create summary data frame
df_summary = pd.DataFrame([{'Number of Unique Items': item_count, 
                           'Average Price': price_avg, 
                          'Number of Purchases': purchase_count,
                          'Total Revenue': revenue_total}])

df_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# create data frame grouped by player name and gender
df_players_count = df_purchase_data.groupby(['SN','Gender']).count()

# create a second data frame grouped just by gender, using the first data frame
# count to get number of players by gender
df_gender_count = df_players_count.groupby('Gender').count()

# series for number of players by gender
gender_count = df_gender_count['Purchase ID']

# sum the series to get total number of players
gender_count_total = df_gender_count['Purchase ID'].sum()

# series for players by gender as a percent of total
gender_count_percent = gender_count / gender_count_total

# format as percentages
gender_count_percent = gender_count_percent.map("{:0.2%}".format)
    
# create a data frame to summarize info
df_gender_count = pd.DataFrame({'Total Count': gender_count, 
                                'Percentage of Players': gender_count_percent})

# sort the data frame by player count
df_gender_count.sort_values(by=['Total Count'], ascending=False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# count the number of purchases grouped by gender
purchase_by_gender_count = df_purchase_data.groupby(['Gender']).count()['Price']

# calculate the average of purchases price grouped by gender
purchase_by_gender_avg = df_purchase_data.groupby(['Gender']).mean()['Price']

# sum purchase prices grouped by gender
purchase_by_gender_sum = df_purchase_data.groupby(['Gender']).sum()['Price']

# data frame summing values grouped by gender and player
df_purchase_by_player = df_purchase_data.groupby(['Gender','SN']).sum()

# calculate the average per person purchase amounts
purchase_by_gender_avg_per_person = df_purchase_by_player.groupby('Gender').mean()['Price']

#format as currency using function
purchase_by_gender_avg = format_as_dollars(purchase_by_gender_avg)
purchase_by_gender_sum = format_as_dollars(purchase_by_gender_sum)
purchase_by_gender_avg_per_person = format_as_dollars(purchase_by_gender_avg_per_person)

# create a data frame summarizing analysis
df_purchase_summary = pd.DataFrame({'Purchase Count': purchase_by_gender_count, 
                                    'Average Purchase Price': purchase_by_gender_avg,
                                   'Total Purchase Value': purchase_by_gender_sum,
                                   'Avg Total Purchase per Person': purchase_by_gender_avg_per_person})
df_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# create bins and bin labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, df_purchase_data['Age'].max()]
label_list = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Add bins as new column in data frame
df_purchase_data["Age Range"] = pd.cut(df_purchase_data["Age"], bins, labels=label_list, include_lowest=True)

# create data frame grouped by player age range and name and player
df_age_range_count = df_purchase_data.groupby(['Age Range','SN']).count()

# create another data frame grouped by age, using the previous data frame, to get count of players by age range
df_players_per_age_range = df_age_range_count.groupby('Age Range').count()

# series for player count per age range
players_per_age_range = df_players_per_age_range['Age']

# sum player count to get total players
players_total = df_players_per_age_range.sum()['Age']

# create series for percnetagew
players_per_age_range_percent = players_per_age_range / players_total

# format as percent
players_per_age_range_percent = players_per_age_range_percent.map('{:.2%}'.format)

# create summary data frame
df_players_per_age_range_summary = pd.DataFrame({'Total Count': players_per_age_range, 
                                                 'Percentage of Players': players_per_age_range_percent})

df_players_per_age_range_summary

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# create bins and bin labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, df_purchase_data['Age'].max()]
label_list = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# add bins as new column
df_purchase_data["Age Range"] = pd.cut(df_purchase_data["Age"], bins, labels=label_list, include_lowest=True)

# group by age range and count of purchases
purchase_by_age_range_count = df_purchase_data.groupby(['Age Range']).count()['Price']

# group by age range and get acverage purchase price
purchase_by_age_range_avg = df_purchase_data.groupby(['Age Range']).mean()['Price']

# group by age range and sum to get total purchases
purchase_by_age_range_total = df_purchase_data.groupby(['Age Range']).sum()['Price']

# create a new data frame summing by player and age range
df_purchase_by_player = df_purchase_data.groupby(['SN', 'Age Range']).sum()

# get the average purchase price per player by age range
purchase_by_age_range_avg_per_person = df_purchase_by_player.groupby(['Age Range']).mean()['Price']

# format as dollars using function
purchase_by_age_range_avg = format_as_dollars(purchase_by_age_range_avg)
purchase_by_age_range_total = format_as_dollars(purchase_by_age_range_total)
purchase_by_age_range_avg_per_person = format_as_dollars(purchase_by_age_range_avg_per_person)

# create summary data frame
df_purchase_by_age_summary = pd.DataFrame({'Purchase Count': purchase_by_age_range_count, 
                                           'Average Purchase Prices': purchase_by_age_range_avg, 
                                          ' Total Purchase Value': purchase_by_age_range_total,
                                          'Avg Total Purchase per Person': purchase_by_age_range_avg_per_person})

df_purchase_by_age_summary

,Purchase Count,Average Purchase Prices,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# group by player and count to get number of purchases per player
player_purchase_count = df_purchase_data.groupby('SN').count()['Price']

# group by player and average to get average price of purchases by player
player_purchase_avg = df_purchase_data.groupby('SN').mean()['Price']

# group by player and sum to get total purchases per player
player_purchase_total = df_purchase_data.groupby('SN').sum()['Price']
  
# create a summary data frame
df_player_purchase_summary = pd.DataFrame({'Purchase Count': player_purchase_count, 
                                           'Average Purchase Price': player_purchase_avg,
                                           'Total Purchase Value': player_purchase_total})

# sort data frame by total purchases descending
df_player_purchase_summary_sorted = df_player_purchase_summary.sort_values(by=['Total Purchase Value'], ascending=False)

# format as dollars using function
df_player_purchase_summary_sorted['Average Purchase Price'] = format_as_dollars(df_player_purchase_summary_sorted['Average Purchase Price'])
df_player_purchase_summary_sorted['Total Purchase Value'] = format_as_dollars(df_player_purchase_summary_sorted['Total Purchase Value'])

df_player_purchase_summary_sorted.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# group by item and count to get number of times each item was purchased
item_purchase_count = df_purchase_data.groupby(['Item ID', 'Item Name']).count()['Purchase ID']

# group by item and sum to get total purchases per item
item_purchase_total = df_purchase_data.groupby(['Item ID', 'Item Name']).sum()['Price']

# get series of average item purchases
item_purchase_price = item_purchase_total / item_purchase_count

# create summary data frame
df_item_purchase_summary = pd.DataFrame({'Purchase Count': item_purchase_count,
                                         'Item Price': item_purchase_price, 
                                           'Total Purchase Value': item_purchase_total})

# sort by number of purchases decending
df_item_purchase_summary_sorted = df_item_purchase_summary.sort_values(by=['Purchase Count'], ascending=False)

# format as dollars using function
df_item_purchase_summary_sorted['Item Price'] = format_as_dollars(df_item_purchase_summary_sorted['Item Price'])
df_item_purchase_summary_sorted['Total Purchase Value'] = format_as_dollars(df_item_purchase_summary_sorted['Total Purchase Value'])

df_item_purchase_summary_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# sort above data frame by total purchase value descending
df_item_purchase_summary_sorted = df_item_purchase_summary.sort_values(by=['Total Purchase Value'], ascending=False)

df_item_purchase_summary_sorted['Item Price'] = format_as_dollars(df_item_purchase_summary_sorted['Item Price'])
df_item_purchase_summary_sorted['Total Purchase Value'] = format_as_dollars(df_item_purchase_summary_sorted['Total Purchase Value'])


df_item_purchase_summary_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80